In [2]:
import gdown
import pandas as pd

# URLs for the datasets
urls = [
    "https://drive.google.com/uc?id=14X7usabTceBqo5d1-pcR9m5bbjoUPIzR",
    "https://drive.google.com/uc?id=1MsX7XJAAj-3whCKV9ZNAwO_h3hGwpx3q",
    "https://drive.google.com/uc?id=1Sxtwiy9PdGq_xxxVAPAWu7M_XqCKh0Lr",
    "https://drive.google.com/uc?id=1Zu_bRhPg0CnHW-ihAHurzWTk7uJ11uRC",
    "https://drive.google.com/uc?id=1kSciVM9LLaLsJXiY1vaAO-UtBzZ-YE6l"
]

dfs = []  # list to hold the dataframes

# Download and read each dataset into a dataframe
for url in urls:
    gdown.download(url, 'temp.csv', quiet=False)
    df = pd.read_csv('temp.csv')
    dfs.append(df)

# Assign each dataframe to a variable
df1, df2, df3, df4, df5 = dfs

# View the first few rows of each dataframe to understand their structure
print(df1.head())
print(df2.head())
print(df3.head())
print(df4.head())
print(df5.head())

Downloading...
From: https://drive.google.com/uc?id=14X7usabTceBqo5d1-pcR9m5bbjoUPIzR
To: E:\UTS\Sem2\ADVMLA\Assignment2\Repo\at2_assignment\ml_pred_forecasting\notebooks\temp.csv
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 46.2k/46.2k [00:00<00:00, 458kB/s]
Downloading...
From: https://drive.google.com/uc?id=1MsX7XJAAj-3whCKV9ZNAwO_h3hGwpx3q
To: E:\UTS\Sem2\ADVMLA\Assignment2\Repo\at2_assignment\ml_pred_forecasting\notebooks\temp.csv
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 5.50k/5.50k [00:00<?, ?B/s]
Downloading...
From (uriginal): https://drive.google.com/uc?id=1Sxtwiy9PdGq_xxxVAPAWu7M_XqCKh0Lr
From (redirected): https://drive.google.com/uc?id=1Sxtwiy9PdGq_xxxVAPAWu7M_XqCKh0Lr&confirm=t&uuid=284fb624-5bc7-44b9-8142-e7418847a8f3
To: E:\UTS\Sem2\ADVMLA\Assignment2\Repo\at2_assignment\ml_pred_forecasting\notebooks\temp.csv
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 203M/203M [00:34<00:00, 5.98MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Zu_bRhPg0CnHW-ihAHurzWTk7uJ11uRC
To: E:\UTS\Sem2\ADVMLA\Assignment2\Repo\at2_assignment\ml_pred_forecasting\notebooks\temp.csv
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 24.7M/24.7M [00:06<00:00, 3.80MB/s]
Downloading...
From: https://drive.google.com/uc?id=1kSciVM9LLaLsJXiY1vaAO-UtBzZ-YE6l
To: E:\UTS\Sem2\ADVMLA\Assignment2\Repo\at2_assignment\ml_pred_forecasting\notebooks\temp.csv
100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 97.1M/97.1M [00:15<00:00, 6.39MB/s]

         date  wm_yr_wk    d
0  2011-01-29     11101  d_1
1  2011-01-30     11101  d_2
2  2011-01-31     11101  d_3
3  2011-02-01     11101  d_4
4  2011-02-02     11101  d_5
         date     event_name event_type
0  2011-02-06      SuperBowl   Sporting
1  2011-02-14  ValentinesDay   Cultural
2  2011-02-21  PresidentsDay   National
3  2011-03-09      LentStart  Religious
4  2011-03-16      LentWeek2  Religious
  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26
   d_1542  d_1543  d_1544  d_1545  d_1546  d_1547  d_1548  d_1549  d_1550
0       0       1       0       2       1       0       2       0       1  \
1       0       0       0       0       0       0       0       0       1
2       0       0       0       0       0       1       0       0       0
3       4       1       0       1       3       5       2       3       0
4       3       0       0       1       1       0       2       0       2

   d_1551  ...  d_1932  d_1933  d_1934  d_1935  d_1936  d_1937  d_1938
0       0  ...       2       4       0       0       0       0       3  \
1       0  ...       0       1       2       1       1       0       0
2       0  ...       1       0       2       0       0       0       2
3       2  ...       1       1       0       4       0       1       3
4       1  ...       0       0       0       2       1       0       0

   d_1939  d_1940  d_1941
0       3       0       1
1       0       0       0
2       3       0       1
3       0       2       6
4       2       1       0

[5 rows x 400 columns]
                              id        item_id    dept_id   cat_id store_id
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1  \
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  HOBBIES_1  HOBBIES     CA_1
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  HOBBIES_1  HOBBIES     CA_1
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  HOBBIES_1  HOBBIES     CA_1
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  HOBBIES_1  HOBBIES     CA_1

  state_id  d_1  d_2  d_3  d_4  ...  d_1532  d_1533  d_1534  d_1535  d_1536
0       CA    0    0    0    0  ...       1       1       1       0       1  \
1       CA    0    0    0    0  ...       0       0       0       0       0
2       CA    0    0    0    0  ...       0       0       1       0       0
3       CA    0    0    0    0  ...       8       2       0       8       2
4       CA    0    0    0    0  ...       2       0       1       3       2

   d_1537  d_1538  d_1539  d_1540  d_1541
0       0       1       0       0       1
1       0       0       0       1       0
2       0       0       0       0       0
3       3       1       1       3       8
4       1       1       2       2       3

[5 rows x 1547 columns]

From the output above, it appears that we have the following data structures:

- Calendar Data (df1): Contains the date, the corresponding week identifier, and a day identifier.
- Events Data (df2): Contains the date, event name, and event type.
- Item Price Data (df3): Contains the store ID, item ID, week identifier, and sell price.
- Evaluation Data (df4): Appears to contain sales data for multiple days, but the structure isn't clear just from the first few rows. Each column d_xxx seems to represent the sales for a specific day.
- Training Data (df5): Contains an ID, item ID, department ID, category ID, store ID, state ID, and sales data for multiple days.

Observations & Proposed Changes:

- The Calendar Data looks fine.
- The Events Data seems appropriate as well.
- Item Price Data is in good shape, containing the required details.

- Evaluation Data (df4):
  - This seems to be in wide format with sales data for each day represented as a separate column. It might be helpful to melt this dataframe to a long format for easier analysis and modeling.


- Training Data (df5):
  - This dataframe is also in a wide format. It might be beneficial to melt this into a long format similar to the evaluation data.

To transform the wide dataframe into a long format, we'll use the melt function from pandas

In [48]:
# Melt the training data
df5_melted = pd.melt(df5, 
                     id_vars=['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'], 
                     var_name='d', 
                     value_name='sales')

# Display the first few rows of the transformed dataframe
print(df5_melted.head())

                              id        item_id    dept_id   cat_id store_id
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1  \
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  HOBBIES_1  HOBBIES     CA_1
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  HOBBIES_1  HOBBIES     CA_1
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  HOBBIES_1  HOBBIES     CA_1
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  HOBBIES_1  HOBBIES     CA_1

  state_id    d  sales
0       CA  d_1      0
1       CA  d_1      0
2       CA  d_1      0
3       CA  d_1      0
4       CA  d_1      0

To verify the transformation and ensure correctness, we will perform the following checks:

- Dimensionality Check: Ensure that the total number of rows in the melted dataframes matches the expected count based on the original dataframes.
    - For df5, the number of rows in the melted version should be: "number of unique items × number of days in the dataset"

- Value Check: Sample a few item-day combinations and compare the sales values in the melted dataframe with the corresponding values in the wide dataframe. This ensures that the melt operation hasn't inadvertently changed any values.

- Missing Values: Ensure that there are no missing values in the sales column of the melted dataframes.

In [49]:
# Dimensionality Check
assert len(df5_melted) == len(df5) * len(df5.columns[6:]), "Mismatch in the number of rows for df5_melted"

# Value Check for df5
# Sample a random item-day combination
sample_item = df5_melted['item_id'].sample().iloc[0]
sample_day = df5_melted['d'].sample().iloc[0]
assert df5_melted[(df5_melted['item_id'] == sample_item) & (df5_melted['d'] == sample_day)]['sales'].iloc[0] == df5[df5['item_id'] == sample_item][sample_day].iloc[0], "Mismatch in sales value for df5_melted"

# Missing Values Check
assert df5_melted['sales'].isna().sum() == 0, "Missing values detected in df5_melted['sales']"

print("All checks passed!")

All checks passed!

### Joining Dataframes:
- First, we'll join the training data (df5_melted) with the calendar data (df1) on the 'd' column. This will give us date-related information for each sales entry. Then, we'll join this resulting dataframe with the item price data (df3) on 'item_id', 'store_id', and 'wm_yr_wk' to incorporate the selling price for each item on each day.

In [51]:
# Filter df1 to only include rows up to d_1541
df1_filtered = df1[df1['d'].isin(df5_melted['d'])]

# Merge the dataframes
merged_data = pd.merge(df5_melted, df1_filtered, on='d', how='left')

# Display the first few rows of the merged dataframe
print(merged_data.head())

                              id        item_id    dept_id   cat_id store_id
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1  \
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  HOBBIES_1  HOBBIES     CA_1
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  HOBBIES_1  HOBBIES     CA_1
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  HOBBIES_1  HOBBIES     CA_1
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  HOBBIES_1  HOBBIES     CA_1

  state_id    d  sales        date  wm_yr_wk
0       CA  d_1      0  2011-01-29     11101
1       CA  d_1      0  2011-01-29     11101
2       CA  d_1      0  2011-01-29     11101
3       CA  d_1      0  2011-01-29     11101
4       CA  d_1      0  2011-01-29     11101

In [52]:
merged_train = pd.merge(merged_data, df3, on=['store_id', 'item_id', 'wm_yr_wk'], how='left')
print(merged_train.head())

                              id        item_id    dept_id   cat_id store_id
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1  \
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  HOBBIES_1  HOBBIES     CA_1
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  HOBBIES_1  HOBBIES     CA_1
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  HOBBIES_1  HOBBIES     CA_1
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  HOBBIES_1  HOBBIES     CA_1

  state_id    d  sales        date  wm_yr_wk  sell_price
0       CA  d_1      0  2011-01-29     11101         NaN
1       CA  d_1      0  2011-01-29     11101         NaN
2       CA  d_1      0  2011-01-29     11101         NaN
3       CA  d_1      0  2011-01-29     11101         NaN
4       CA  d_1      0  2011-01-29     11101         NaN

# Data Preprocessing

### Step 1: Handle Missing Values

In [20]:
# Sample missing data
sample_missing = merged_train[merged_train['sell_price'].isna()].sample()
sample_item = sample_missing['item_id'].iloc[0]
sample_store = sample_missing['store_id'].iloc[0]
sample_week = sample_missing['wm_yr_wk'].iloc[0]

# Check in original price data
price_check = df3[(df3['item_id'] == sample_item) & (df3['store_id'] == sample_store) & (df3['wm_yr_wk'] == sample_week)]
print(price_check)

Empty DataFrame
Columns: [store_id, item_id, wm_yr_wk, sell_price]
Index: []

In [25]:
missing_weeks_item = merged_train[(merged_train['item_id'] == 'HOUSEHOLD_1_159') & (merged_train['sell_price'].isna())]['wm_yr_wk'].unique()
print(f"Weeks with missing prices for HOUSEHOLD_1_159: \n{sorted(missing_weeks_item)}")

Weeks with missing prices for HOUSEHOLD_1_159:
[11101, 11102, 11103, 11104, 11105, 11106, 11107, 11108, 11109, 11110, 11111, 11112, 11113, 11114, 11115, 11116, 11117, 11118, 11119, 11120, 11121, 11122, 11123, 11124, 11125, 11126, 11127, 11128, 11129, 11130, 11131, 11132, 11133, 11134, 11135, 11136, 11137, 11138, 11139, 11140, 11141, 11142, 11143, 11144, 11145, 11146, 11147, 11148, 11149, 11150, 11151, 11152, 11201, 11202, 11203, 11204, 11205, 11206, 11207, 11208, 11209, 11210, 11211, 11212, 11213, 11214, 11215, 11216, 11217, 11218, 11219, 11220, 11221, 11222, 11223, 11224, 11225, 11226, 11227, 11228, 11229, 11230, 11231, 11232, 11233, 11234, 11235, 11236, 11237, 11238, 11239, 11240, 11241, 11242, 11243, 11244, 11245, 11246, 11247, 11248, 11249, 11250, 11251, 11252, 11301, 11302, 11303, 11304, 11305, 11306, 11307, 11308, 11309, 11310, 11311, 11312, 11313, 11314, 11315, 11316, 11317, 11318, 11319, 11320, 11321, 11322, 11323, 11324, 11325, 11326, 11327, 11328, 11329, 11330, 11331, 11332, 11333, 11334, 11335, 11336, 11337, 11338, 11339, 11340, 11341, 11342, 11343, 11344, 11345, 11346, 11347, 11348, 11349, 11350, 11351, 11352, 11353, 11401, 11402, 11403, 11404, 11405, 11406, 11407, 11408, 11409, 11410, 11411, 11412, 11413, 11414, 11415, 11416, 11417, 11418, 11419, 11420, 11421, 11422, 11423, 11424, 11425, 11426, 11427, 11428, 11429, 11430, 11431, 11432, 11433, 11434, 11435, 11436, 11437, 11438, 11439, 11440, 11441, 11442, 11443, 11444, 11445, 11446, 11447, 11448, 11449, 11450, 11451, 11452, 11501, 11502, 11503, 11504, 11505, 11506, 11507, 11508, 11509, 11510, 11511, 11512]

In [26]:
# Unique combinations in the merged dataframe
merged_combinations = set(merged_train[['item_id', 'store_id', 'wm_yr_wk']].itertuples(index=False))

# Unique combinations in the price dataframe
price_combinations = set(df3[['item_id', 'store_id', 'wm_yr_wk']].itertuples(index=False))

# Find combinations in the merged dataframe that are not in the price dataframe
missing_combinations = merged_combinations - price_combinations

print(f"Number of combinations in merged data not present in price data: {len(missing_combinations)}")

Number of combinations in merged data not present in price data: 1752423

In [27]:
sample_missing_combinations = list(missing_combinations)[:5]
print("Sample missing combinations:\n", sample_missing_combinations)

Sample missing combinations:
 [Pandas(item_id='HOBBIES_2_021', store_id='CA_1', wm_yr_wk=11231), Pandas(item_id='FOODS_3_821', store_id='WI_1', wm_yr_wk=11319), Pandas(item_id='FOODS_1_025', store_id='CA_1', wm_yr_wk=11135), Pandas(item_id='FOODS_3_737', store_id='WI_1', wm_yr_wk=11104), Pandas(item_id='FOODS_3_197', store_id='TX_3', wm_yr_wk=11228)]

In [28]:
print("Data types in merged_train:\n", merged_train[['item_id', 'store_id', 'wm_yr_wk']].dtypes)
print("\nData types in df3:\n", df3[['item_id', 'store_id', 'wm_yr_wk']].dtypes)

Data types in merged_train:
 item_id     object
store_id    object
wm_yr_wk     int64
dtype: object

Data types in df3:
 item_id     object
store_id    object
wm_yr_wk     int64
dtype: object

In [29]:
duplicates = df3[df3.duplicated(subset=['store_id', 'item_id', 'wm_yr_wk'], keep=False)]
print(duplicates)

Empty DataFrame
Columns: [store_id, item_id, wm_yr_wk, sell_price]
Index: []

In [32]:
print(df3.head(2500))

     store_id        item_id  wm_yr_wk  sell_price
0        CA_1  HOBBIES_1_001     11325        9.58
1        CA_1  HOBBIES_1_001     11326        9.58
2        CA_1  HOBBIES_1_001     11327        8.26
3        CA_1  HOBBIES_1_001     11328        8.26
4        CA_1  HOBBIES_1_001     11329        8.26
...       ...            ...       ...         ...
2495     CA_1  HOBBIES_1_011     11445        3.48
2496     CA_1  HOBBIES_1_011     11446        3.48
2497     CA_1  HOBBIES_1_011     11447        3.48
2498     CA_1  HOBBIES_1_011     11448        3.48
2499     CA_1  HOBBIES_1_011     11449        3.48

[2500 rows x 4 columns]

In [33]:
sample_check = df3[df3[['store_id', 'item_id', 'wm_yr_wk']].apply(tuple, axis=1).isin(sample_missing_combinations)]
print(sample_check)

Empty DataFrame
Columns: [store_id, item_id, wm_yr_wk, sell_price]
Index: []

In [57]:
missing_weeks_in_df3 = set(merged_data['wm_yr_wk'].unique()) - set(df3['wm_yr_wk'].unique())
print("Weeks in merged_data not in df3:", missing_weeks_in_df3)

missing_weeks_in_merged_data = set(df3['wm_yr_wk'].unique()) - set(merged_data['wm_yr_wk'].unique())
print("Weeks in df3 not in merged_data:", missing_weeks_in_merged_data)

Weeks in merged_data not in df3: set()
Weeks in df3 not in merged_data: {11520, 11521, 11522, 11523, 11524, 11525, 11526, 11527, 11528, 11529, 11530, 11531, 11532, 11533, 11534, 11535, 11536, 11537, 11538, 11539, 11540, 11541, 11542, 11543, 11544, 11545, 11546, 11547, 11548, 11549, 11550, 11551, 11552, 11601, 11602, 11603, 11604, 11605, 11606, 11607, 11608, 11609, 11610, 11611, 11612, 11613, 11614, 11615, 11616, 11617, 11618, 11619, 11620, 11621, 11513, 11514, 11515, 11516, 11517, 11518, 11519}

In [58]:
# Get unique combinations in both dataframes
merged_data_combinations = set(merged_data[['store_id', 'item_id', 'wm_yr_wk']].itertuples(index=False))
df3_combinations = set(df3[['store_id', 'item_id', 'wm_yr_wk']].itertuples(index=False))

# Find combinations in merged_data that aren't in df3
missing_combinations = merged_data_combinations - df3_combinations

print("Number of combinations in merged_data not present in df3:", len(missing_combinations))
print("Sample missing combinations:", list(missing_combinations)[:5])

Number of combinations in merged_data not present in df3: 1752423
Sample missing combinations: [Pandas(store_id='CA_1', item_id='HOBBIES_1_279', wm_yr_wk=11249), Pandas(store_id='WI_3', item_id='HOBBIES_1_171', wm_yr_wk=11124), Pandas(store_id='WI_3', item_id='FOODS_3_284', wm_yr_wk=11131), Pandas(store_id='TX_2', item_id='FOODS_3_060', wm_yr_wk=11102), Pandas(store_id='WI_3', item_id='HOBBIES_1_395', wm_yr_wk=11144)]

#### Check the Percentage of Missing Values:
- Let's see how widespread the missing values are in the sell_price column.

In [61]:
missing_percentage = (merged_train['sell_price'].isna().sum() / len(merged_train)) * 100
print(f"Percentage of missing values in sell_price: {missing_percentage:.2f}%")

Percentage of missing values in sell_price: 26.10%

In [34]:
missing_values_df3 = df3.isnull().sum()
print(missing_values_df3)

store_id      0
item_id       0
wm_yr_wk      0
sell_price    0
dtype: int64

In [35]:
items_missing_prices = df3[df3['sell_price'].isnull()]['item_id'].value_counts()
print(items_missing_prices.head())

Series([], Name: count, dtype: int64)

In [36]:
stores_missing_prices = df3[df3['sell_price'].isnull()]['store_id'].value_counts()
print(stores_missing_prices.head())

Series([], Name: count, dtype: int64)

In [37]:
weeks_missing_prices = df3[df3['sell_price'].isnull()]['wm_yr_wk'].value_counts()
print(weeks_missing_prices.head())

Series([], Name: count, dtype: int64)

In [40]:
unique_d_sales = merged_train['d'].nunique()
unique_d_calendar = df1['d'].nunique()

In [41]:
merged_rows = merged_train.shape[0]
unique_d_merged = merged_train['d'].nunique()

In [63]:
# Extract weeks with missing prices from the merged data
missing_weeks = merged_train[merged_train['sell_price'].isnull()]['wm_yr_wk'].value_counts()

# Display weeks with the most missing data
print("Weeks with the most missing price data:")
print(missing_weeks.head(10))

Weeks with the most missing price data:
wm_yr_wk
11101    136906
11102    129605
11103    125797
11104    123837
11105    122199
11106    120092
11107    118223
11108    116802
11109    115759
11110    114415
Name: count, dtype: int64

In [64]:
# Extract items with missing prices from the merged data
missing_items = merged_train[merged_train['sell_price'].isnull()]['item_id'].value_counts()

# Display items with the most missing data
print("Items with the most missing price data:")
print(missing_items.head(10))

Items with the most missing price data:
item_id
HOUSEHOLD_1_159    15297
HOUSEHOLD_1_242    15188
HOUSEHOLD_1_308    15150
HOUSEHOLD_2_186    15009
FOODS_3_353        14981
HOUSEHOLD_1_489    14889
HOUSEHOLD_1_534    14882
HOUSEHOLD_1_484    14882
FOODS_3_255        14854
HOUSEHOLD_1_526    14812
Name: count, dtype: int64

In [65]:
# Extract stores with missing prices from the merged data
missing_stores = merged_train[merged_train['sell_price'].isnull()]['store_id'].value_counts()

# Display stores with the most missing data
print("Stores with the most missing price data:")
print(missing_stores.head(10))

Stores with the most missing price data:
store_id
CA_2    1540457
WI_1    1355701
WI_2    1269390
CA_4    1261195
TX_3    1178191
CA_3    1158667
WI_3    1145123
CA_1    1127909
TX_1    1118871
TX_2    1108895
Name: count, dtype: int64

In [66]:
# Filtering data for the item 'HOUSEHOLD_1_159' in store 'CA_2' which has missing prices
filtered_data = merged_train[(merged_train['item_id'] == 'HOUSEHOLD_1_159') & 
                            (merged_train['store_id'] == 'CA_2') & 
                            (merged_train['sell_price'].isnull())]

# Extract weeks with missing prices for this combination
missing_weeks_for_combination = filtered_data['wm_yr_wk'].unique()

print(f"Number of missing weeks for item 'HOUSEHOLD_1_159' in store 'CA_2': {len(missing_weeks_for_combination)}")
print(f"Weeks with missing prices for HOUSEHOLD_1_159 in CA_2: \n{sorted(missing_weeks_for_combination)}")

Number of missing weeks for item 'HOUSEHOLD_1_159' in store 'CA_2': 219
Weeks with missing prices for HOUSEHOLD_1_159 in CA_2:
[11101, 11102, 11103, 11104, 11105, 11106, 11107, 11108, 11109, 11110, 11111, 11112, 11113, 11114, 11115, 11116, 11117, 11118, 11119, 11120, 11121, 11122, 11123, 11124, 11125, 11126, 11127, 11128, 11129, 11130, 11131, 11132, 11133, 11134, 11135, 11136, 11137, 11138, 11139, 11140, 11141, 11142, 11143, 11144, 11145, 11146, 11147, 11148, 11149, 11150, 11151, 11152, 11201, 11202, 11203, 11204, 11205, 11206, 11207, 11208, 11209, 11210, 11211, 11212, 11213, 11214, 11215, 11216, 11217, 11218, 11219, 11220, 11221, 11222, 11223, 11224, 11225, 11226, 11227, 11228, 11229, 11230, 11231, 11232, 11233, 11234, 11235, 11236, 11237, 11238, 11239, 11240, 11241, 11242, 11243, 11244, 11245, 11246, 11247, 11248, 11249, 11250, 11251, 11252, 11301, 11302, 11303, 11304, 11305, 11306, 11307, 11308, 11309, 11310, 11311, 11312, 11313, 11314, 11315, 11316, 11317, 11318, 11319, 11320, 11321, 11322, 11323, 11324, 11325, 11326, 11327, 11328, 11329, 11330, 11331, 11332, 11333, 11334, 11335, 11336, 11337, 11338, 11339, 11340, 11341, 11342, 11343, 11344, 11345, 11346, 11347, 11348, 11349, 11350, 11351, 11352, 11353, 11401, 11402, 11403, 11404, 11405, 11406, 11407, 11408, 11409, 11410, 11411, 11412, 11413, 11414, 11415, 11416, 11417, 11418, 11419, 11420, 11421, 11422, 11423, 11424, 11425, 11426, 11427, 11428, 11429, 11430, 11431, 11432, 11433, 11434, 11435, 11436, 11437, 11438, 11439, 11440, 11441, 11442, 11443, 11444, 11445, 11446, 11447, 11448, 11449, 11450, 11451, 11452, 11501, 11502, 11503, 11504, 11505, 11506, 11507, 11508, 11509, 11510]

#### Investigate the Missing Values:
- If the percentage of missing values is significant, we should investigate further. For example, check if specific items or stores have more missing prices than others.

In [67]:
subset_data = merged_train[(merged_train['item_id'] == 'HOUSEHOLD_1_159') & (merged_train['store_id'] == 'CA_2')]
missing_percentage = (subset_data['sell_price'].isnull().sum() / len(subset_data)) * 100
print(f"Percentage of missing sell prices for 'HOUSEHOLD_1_159' in 'CA_2': {missing_percentage:.2f}%")

Percentage of missing sell prices for 'HOUSEHOLD_1_159' in 'CA_2': 99.48%

In [68]:
# Group by item_id and store_id
grouped = merged_train.groupby(['item_id', 'store_id'])

# Calculate the percentage of missing sell_price for each group
missing_percentage = grouped['sell_price'].apply(lambda x: x.isnull().mean() * 100)

# Filter out the combinations where the missing percentage is greater than 90%
high_missing_combinations = missing_percentage[missing_percentage > 90].reset_index()

print(high_missing_combinations)

              item_id store_id  sell_price
0         FOODS_1_029     CA_4   97.663855
1         FOODS_1_122     CA_1   90.850097
2         FOODS_1_122     CA_2   90.850097
3         FOODS_1_122     CA_3   90.850097
4         FOODS_1_122     CA_4   90.850097
...               ...      ...         ...
1126  HOUSEHOLD_2_418     WI_2   92.667099
1127  HOUSEHOLD_2_418     WI_3   93.121350
1128  HOUSEHOLD_2_434     TX_3   92.667099
1129  HOUSEHOLD_2_498     CA_4   92.667099
1130  HOUSEHOLD_2_498     WI_3   93.575600

[1131 rows x 3 columns]

In [69]:
# Calculate the total number of unique item-store combinations in the merged_data
total_item_store_combinations = merged_train[['item_id', 'store_id']].drop_duplicates().shape[0]

# Calculate the percentage of problematic item-store combinations
percentage_problematic = (1131 / total_item_store_combinations) * 100

print(percentage_problematic)

3.709412922269597

- Drop: If the missing data is random and constitutes a small portion of the dataset.
- Impute: If the missing data follows a pattern or is a significant portion of the dataset.

Action Plan:

- Calculate the percentage of missing values for each feature.
- Based on the percentage, decide whether to drop or impute.

Let's first inspect the percentage of missing values in our dataset.

In [70]:
# Calculate the percentage of missing values for each column
missing_percentage = merged_train.isnull().mean() * 100

# Display columns with missing values (if any)
missing_percentage[missing_percentage > 0].sort_values(ascending=False)

sell_price    26.102747
dtype: float64

The sell_price is a crucial feature for predicting sales revenue. Dropping a quarter of our dataset might lead to a significant loss of information, which is undesirable. Instead, we should look to impute these missing values.

There are various strategies to impute missing values:

- Mean/Median Imputation: Replace missing values with the mean or median of the column. This approach is suitable for features that have a normal distribution or when the missing data is completely random.
- Mode Imputation: Replace missing values with the most frequent value. This is more applicable for categorical data.
- Time Series Imputation: For time series data, one can use methods like forward fill or backward fill.

In [72]:
# Get unique combinations of store_id and item_id
unique_combinations = merged_train[['store_id', 'item_id']].drop_duplicates().values

# Loop through each combination and impute missing values
for store, item in unique_combinations:
    median_price = merged_train[(merged_train['store_id'] == store) & (merged_train['item_id'] == item)]['sell_price'].median()
    mask = (merged_train['store_id'] == store) & (merged_train['item_id'] == item)
    merged_train.loc[mask, 'sell_price'] = merged_train.loc[mask, 'sell_price'].fillna(median_price)

# Verify if there are any missing values left
missing_after_impute = merged_train['sell_price'].isnull().sum()
print(f"Number of missing values after imputation: {missing_after_impute}")

MemoryError: Unable to allocate 358. MiB for an array with shape (46985090,) and data type int64